@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Roboto", sans-serif;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Nav Start */

.header {
	border-bottom: 1px solid #e2e8f0;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 1.5rem;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #101010;
}

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item {
	margin-left: 5rem;
}

.nav-link {
	font-size: 1.6rem;
	font-weight: 400;
	color: #475569;
}

.nav-link:hover {
	color: #482ff7;
}

.nav-logo {
	font-size: 2.1rem;
	font-weight: 500;
	color: #482ff7;
}

/* Nav End */

/* Slideshow Start */

.container-satu {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 3rem;
}

.slider {
	width: 80%;
	/* height: 512px; */
	border-radius: 10px;
	overflow: hidden;
}

.slides {
	width: 500%;
	/* height: 500px; */
	display: flex;
	/* position: relative; */
}

.slides input {
	display: none;
}

.slide {
	width: 20%;
	transition: 2s;
}

.slide img {
	width: 100%;
	/* height: 512px; */
}

/* css for manual slide navigation */
.navigation-manual {
	position: absolute;
	width: 80%;
	margin-top: -7%;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
}

.manual-btn {
	display: none;
	border: 2px solid #482ff7;
	padding: 5px;
	border-radius: 50%;
	cursor: pointer;
	transition: 1s;
}

/* .manual-btn:not(:last-child) {
	margin-right: 40px;
} */

.manual-btn:hover {
	background: #482ff7;
}

#radio1:checked ~ .first {
	margin-left: 0;
}
#radio2:checked ~ .first {
	margin-left: -20%;
}
#radio3:checked ~ .first {
	margin-left: -40%;
}
#radio4:checked ~ .first {
	margin-left: -60%;
}

/* css for automatic navigator */

.navigation-auto {
	position: absolute;
	display: none;
	width: 800px;
	justify-content: center;
	/* margin-top: -60px; */
}

.navigation-auto div {
	border: 2px solid #40d3dc;
	padding: 5px;
	border-radius: 10px;
	transition: 1s;
}

.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
	background: #40d3dc;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
	background: #40d3dc;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
	background: #40d3dc;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
	background: #40d3dc;
}
/* Slideshow End */

/* Hero Start */

#hero {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.05);
}

.container-dua {
	display: flex;
	width: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
}

.container-dua .row-1 p {
	font-size: 3rem;
	padding: 0.5rem;
	text-align: center;
	font-weight: bold;
}

.container-dua .row-2 {
	width: 80%;
	display: flex;
	padding-top: 3rem;
}

.container-dua .row-2 img {
	width: 50%;
	height: fit-content;
	padding: 1rem;
	border-radius: 20px;
}

.container-dua .row-2 p {
	font-size: 2rem;
	font-weight: lighter;
	padding: 1rem;
	/* display: flex;
	align-items: center; */
}

/* Hero End */

/* Dish Start */
#dishes {
	display: flex;
	justify-content: center;
}
.container-tiga {
	width: 80%;
	display: flex;
	justify-content: center;
}
.container-tiga .row-2 .makan {
	width: 20px;
	height: 10px;
	background-color: seagreen;
	padding: 50px;
}
/* Dish End */

/* Responsive */

@media only screen and (max-width: 768px) {
	.nav-menu {
		position: fixed;
		left: -100%;
		top: 5rem;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		border-radius: 10px;
		text-align: center;
		transition: 0.3s;
		box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
	}

	.nav-menu.active {
		left: 0;
	}

	.nav-item {
		margin: 2.5rem 0;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

	.container-dua .row-2 {
		flex-direction: column;
		min-width: 400px;
	}
	.container-dua .row-2 img {
		width: 100%;
	}
}
