body {
	background: #3d617f;
}

.container {
	width: 210px;
	box-sizing: border-box;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	position: absolute;
	background: transparent;
}

.button {
	width: 50px;
	height: 50px;
	font-size: 30px;
	margin: 2;
	border: none;
	color: white;
	cursor: pointer;
	background: #333;
}
.button:hover {
	width: 50px;
	height: 50px;
	font-size: 30px;
	border: none;
	color: white;
	cursor: pointer;
	background: #008087;
}

.hasil {
	width: 100%;
	height: 50px;
	border: none;
	outline: none;
	font-size: 20px;
	text-align: center;
	background: #eeefff;
	opacity: 0.7;
	margin-bottom: 0.75em;
}
